* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    width: 400px;
    margin: 50px auto;
}

h1 {
    margin-bottom: 10px;
}

input, button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 20px;
}

input {
    width: 90%;
}

button {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
